<% size ||= '' %>

<div class="btn-group <%= size -%>">
  <%= link_to new_workflow_run_path(:workflow_id => workflow.id), :class => 'btn btn-default', :title => 'Run' do %>
      <span class="glyphicon glyphicon-play"></span> Run
  <% end %>

  <%= link_to download_workflow_path(workflow), :class => 'btn btn-default', :title => 'Download' do %>
      <span class="glyphicon glyphicon-download-alt"></span> <span class="hidden-xs">Download</span>
  <% end %>

  <% if can?(:manage, workflow) %>
      <%= link_to edit_workflow_path(workflow), :class => 'btn btn-default', :title => 'Manage' do %>
          <span class="glyphicon glyphicon-wrench"></span> <span class="hidden-xs">Manage</span>
      <% end %>
  <% end %>
</div>