# Be sure to restart your server when you modify this file.

# For local development or production use please run 'rake secret' and copy
# the generated key here. Do not check this key into source control.
key = ""

# For testing on e.g. Travis we set a temporary key before running the tests.
# This .example file should be copied without .example in its name so that it
# is used. See the .travis.yml file in the root directory for an example.
key = SecureRandom.hex(64) if key.blank?

TavernaPlayerPortal::Application.config.secret_key_base = key
