<div class="jumbotron">
  <h1>Workflow Portal</h1>
  <p>Upload and run workflows</p>
  <p>
    <%= link_to 'Take me to the workflows »', workflows_path, :class => 'btn btn-lg btn-primary'-%>
  </p>
</div>
