/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require taverna_player/application
 *= require_tree .
 */

@import "bootstrap";

div.under-form-links {
  margin-top: 2em;
  padding: 1em 0;
  border-top: 1px solid #DDDDDD;
}

.muted {
  font-size: 80%;
  color: #999999;
}

.expandable-section-heading {
  border-bottom: 1px dotted #cccccc;
  cursor: pointer;
  padding-bottom: 5px;
  margin-bottom: 5px;
}

.expandable-section {

}

.separated {
  border-style: solid;
  border-color: #eeeeee;
  border-width: 0 0 1px;
  padding: 10px 0;
}

.ellipsis-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
