@import "bootstrap";

.state-pending {
  color: $gray;
}

.state-running {
  color: $brand-primary;
}

.state-finished {
  color: $brand-success;
}

.state-cancelled {
  color: $gray-light;
}

.state-failed {
  color: $brand-danger;
}

.table td.vert-middle {
  vertical-align: middle;
}
