.state-pending {
  color: $gray;
}

.state-running {
  color: $brand-primary;
}

.state-finished {
  color: $brand-success;
}

.state-cancelled {
  color: $gray-light;
}

.state-failed {
  color: $brand-danger;
}

iframe {
  border: none;
}

.key {
  border: 1px solid #ccc;
  margin: 10px 0;
  float: right;
  padding: 10px;

  h5 {
    margin-top: 0;
  }
}

.double-height-line {
  line-height: 40px;
}

div.run-data {
  border: 1px solid #ccc;
  padding: 0 10px;
  margin: 10px 0;
}
