<%
  # Copyright (c) 2013 The University of Manchester, UK.
  #
  # BSD Licenced. See LICENCE.rdoc for details.
  #
  # Taverna Player was developed in the BioVeL project, funded by the European
  # Commission 7th Framework Programme (FP7), through grant agreement
  # number 283359.
  #
  # Author: Robert Haines
%>

<div id="run-button">

  <% if run.complete? %>
      <%= link_to run, method: :delete, data: { confirm: 'Are you sure you want to delete this run?' },
                  :class => 'btn btn-xs btn-danger', :title => 'Delete' do %>
          <span class="glyphicon glyphicon-trash"></span> Delete
      <% end %>
  <% else %>
      <%= link_to cancel_run_path(run.id), method: :put, data: { confirm: 'Are you sure you want to cancel this run?' },
                  :class => 'btn btn-xs btn-danger', :title => 'Cancel' do %>
          <span class="glyphicon glyphicon-ban-circle"></span> Cancel
      <% end %>
  <% end %>
</div>
