<div id="run-status">
  <p>
    <b>Status:</b>
    <%= run.status_message -%> <%= run_state_icon(run) -%>
  </p>

  <p>
    <b>Created at:</b>
    <%= time_ago_in_words(run.created_at, include_seconds: true) %> ago
  </p>

  <% if run.complete? %>
      <p>
        <b>Duration:</b>
        <%= distance_of_time_in_words(run.start_time, run.finish_time, include_seconds: true) %>
      </p>
  <% end %>
</div>
